<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graph Visualization</title>
    <link rel="stylesheet" href="/stylesheets/jquery.qtip.min.css" />
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" />
    <link rel="stylesheet" href="/stylesheets/graph.css" />

  </head>

  <body>
    <header>
      <div class="nav-top">
        <div class="row">
          <div class="small-12 columns">
            <span class="heading">RESE2NSE</span>
            <span class="sub-heading">Resilient Sensory Swarms for Smart Energy and Environmental Monitoring</span>
          </div> <!-- end .columns -->
        </div> <!-- end .row -->
      </div> <!-- end .nav-top -->
    </header> <!-- end header -->

    <nav class="main-nav">
      <div class="nav-links">
        <div class="row">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/graph">Graph</a></li>
          </ul>
        </div> <!-- end .row -->
      </div> <!-- end .nav-links -->
    </nav> <!-- end nav -->

    <div class="main">
      <div class="row">

        <!-- Side Navbar -->
        <div class="small-3 columns">
          <div class="nav-side">
            <div class="floor-links">
              <ul>
                <li><span class="nav-side-heading">EEE FLOOR PLAN</span><li>

                <% for (var i = 0; i < floorCount; i++) { %>
                  <% var floorNumber = i + 1 %>

                  <li><span class="floor-link" data-floor-number=<%= floorNumber %>>Floor <%= floorNumber %></span></li>
                <% } %>

              </ul>
            </div> <!-- end .floor-links -->
          </div> <!-- end .nav-side -->
        </div> <!-- end .columns -->

        <!-- Graph Display -->
        <div class="small-9 columns">
          <div class="floor-group">

            <div class="floor">
              <div class="floor-label">
                <span>Floors</span>
                <button type="button" class="success button edit-btn">Edit Graph</button>
              </div> <!-- end .floor-label -->

              <div class="floor-graph">
                <div class='graph-container'>
                  <img src='/images/floorplan-merge.jpg' class="floor-img">
                </div> <!-- end .graph-container -->

                <div class="slider-container">
                  <div class="slider-label">
                    <span>Time: </span>
                    <span class="slider-time"></span>
                  </div> <!-- end .slider-label -->
                  <div class="slider-range"></div>
                </div> <!-- end .slider-container -->

                <div class='range-selector'>
                  <label>Range
                    <select class="range-menu">
                      <option value="1min">1 Minute</option>
                      <option value="2min">2 Minutes</option>
                      <option value="3min">3 Minutes</option>
                      <option value="all" selected>All</option>
                    </select>
                  </label>
                </div> <!-- end .range-selector -->
              </div> <!-- end .floor-graph -->
            </div> <!-- end .floor#floor_ -->

          </div> <!-- end .floor-group -->
        </div> <!-- end .columns -->
      </div> <!-- end .row -->
    </div> <!-- end .main -->

  </body>

  <script></script>
  <script src="/javascripts/jquery-2.2.0.min.js"></script>
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
  <script src="/javascripts/d3.v3.min.js"></script>
  <script src="/javascripts/jquery.qtip.min.js"></script>

  <script src="/javascripts/graph-drawer.js"></script>
  <script src="/javascripts/multi-graph-drawer.js"></script>
  <script src="/javascripts/floor.js"></script>
  <script src="/javascripts/event-handler.js"></script>
  <script src="/javascripts/graph-data-fetcher.js"></script>
  <script src="/javascripts/ui.js"></script>
  <script src="/javascripts/graph.js"></script>
</html>
