<div class='container'>
  <div class='row' id='graph-controls'>
    <button class='button-primary' id='edit-graph-btn'>Edit Graph</button>
  </div>
  <div class='row'>
    <div class='ten columns' id='graph-container'>
        <img src='/images/floorplan7.jpg' id='floorplan1'>
    </div>
    <div class='two columns' id='graph-legend'>
      <div class='legend-traffic'>
        <div class='traffic-heading'>Traffic:</div>

        <div class='row traffic-row'>
          <div class='square' id='heavy-traffic'></div>
          <div class='traffic-type'>Heavy</div>
        </div>
        <div class='row traffic-row'>
          <div class='square' id='moderate-traffic'></div>
          <div class='traffic-type'>Moderate</div>
        </div>
        <div class='row traffic-row'>
          <div class='square' id='light-traffic'></div>
          <div class='traffic-type'>Light</div>
        </div>
      </div>

      <div class='legend-node'>
        <div class='node-heading'>Nodes:</div>

        <div class='row node-row'>
          <div class='square' id='temperature-node'></div>
          <div class='node-type'>Temperature</div>
        </div>

        <div class='row node-row'>
          <div class='square' id='light-intensity-node'></div>
          <div class='node-type'>Light Intensity</div>
        </div>

        <div class='row node-row'>
          <div class='square' id='humidity-node'></div>
          <div class='node-type'>Humidity</div>
        </div>

        <div class='row node-row'>
          <div class='square' id='pressure-node'></div>
          <div class='node-type'>Pressure</div>
        </div>

      </div> <!-- end .legend-node   -->
    </div>
  </div>
</div>
